@import "tailwindcss";

:root {
  --background: #71478a;
  --foreground: #481C52;
  --light-gold: #FAD870;
  --gold: #E6A545;
  --dark-gold: #89602a;
  --burnt-sienna: #984D3E;
  --dark-brown: #2e1a0f;
  --crimson: #E1344E;
  --dark-indigo: #481C52;
  --purple: #71478a;
  --deep-purple: #541A57;
  --white: #FFFFFF;
  --dark-whithe: #ffe293;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle at 30% 30%, #431252, #1a0e26 80%);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
