:root {
  --light-gold: #FAD870;
  --gold: #E6A545;
  --dark-gold: #89602a;
  --burnt-sienna: #984D3E;
  --dark-brown: #2e1a0f;
  --crimson: #E1344E;
  --dark-indigo: #481C52;
  --purple: #71478a;
  --deep-purple: #541A57;
  --white: #FFFFFF;
  --dark-whithe: #ffe293;
  --black: #000000;
}

.footer {
  width: 100%;
  background: linear-gradient(135deg, var(--deep-purple) 20%, var(--dark-indigo) 80%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative; 
  padding-top: 60px; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d20Icon {
  filter: drop-shadow(0 0 15px var(--dark-gold)); /* Efeito de brilho no dado */
  position: absolute; /* Posicionamento absoluto */
  top: -40px; /* Move o dado para fora do footer */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajuste para centralização perfeita */
  z-index: 10; /* Garante que o dado fique acima de outros elementos */
}

.text {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--dark-whithe); /* Cor que contrasta bem com o dourado */
  margin: 0;
  margin-top: 40px; /* Empurra o texto para baixo da parte visível do dado */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.heart {
  font-size: 2.8rem;
  vertical-align: middle;
  display: inline-block;
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Responsividade */
@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 0;
    padding-top: 40px; /* Ajuste para telas menores */
  }

  .d20Icon {
    width: 60px;
    height: 60px;
    top: -30px; /* Ajuste para telas menores */
  }

  .text {
    font-size: 1.2rem;
  }

  .heart {
    font-size: 1.5rem;
  }
}
